@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
main{
    /* max-width: 1440px; */
}
/* start linear gradient */
.to-left-grad{
    background: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}
.to-right-grad{
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}
/* end linear gradient */

/* common shared style */
.para-text-primary{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    }

/* Hero section */
.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url("../assets/Hero-bg.png");
    margin: 0 auto;
    height: 652px;
    margin-bottom: 74px;
}
.hero-section .hero-content{
    max-width: 998px;
}
.hero-section  img{
    width: 240px;
}
.hero-section h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 40px;
    font-weight: 800;
    line-height: 68px;
    margin-top: 32px;
    margin-bottom: 24px;
}
.hero-section .hero-content p{
    margin-bottom: 32px;
}
.hero-section .contact-btn{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 21px 24px;
    cursor: pointer;
}
/* end of hero section */

/* start of why section */
.why-section{
    width: 1200px;
    height: 1393px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 0 auto;
}
.why-section .why-textbox{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    /* padding: 35px; */
}
.why-section .why-textbox h4{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    padding-top: 80px;
}
.why-section .why-textbox p{
    margin-top: 24px;
    margin-bottom: 48px;
}
.why-section .why-card-container{
    width: 960px;
    height: 336px;
    border-radius: 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.why-card-container .textimg{
    padding: 48px;
    border-radius: 16px;
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between;
}
.why-card-container .textimg .textimg-content{
    margin-right: 90px;
}
.textimg h5{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.textimg .textimg-content p{
    margin-top: 16px;
    margin-bottom: 32px;
}
.why-btn{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 12px 20px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    cursor: pointer;
}
.margin-left{
    margin-left: 32px;
}
/* end why section */
/* start video section  */
.video-section{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 150px;
}
.video-section .video-box h4{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.video-section .video-box p{
    margin: 24px 300px 48px 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px;text-align: center;
}
.video-content{
    position: relative;
    width: 1227px;
    height: 645px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.video-content iframe{
    top: 17px;
    left: 17px;
    position: absolute;
    display: flex;
    margin: 0 auto;
    border-radius: 16px;
    border: none;
    outline: none;
}
/* end video section  */

/* target section */
.target-section{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 111px;
}
.target-textbox h4{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.target-textbox p{
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
}
.target-container{
    display: flex;
    justify-content: space-around;
}
.html-color{
    background: #F9F9E0;
}
.css-color{
    background: #F1E5D1;
}
.js-color{
    background: #F6EEC9;
}
.target-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 364px;
    height: 299px;
    border-radius: 16px;
    padding: 40px;
    /* border: 3px solid green; */
}
.target-card h4{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    margin-top: 24px;
    margin-bottom: 8px;
}
.target-card p{
    margin-bottom: 24px;
}
.target-card img{
    top: 0;
    left: 0;
}
.target-card .tar-btn{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
/* end of target section */
/* support section */
.support-section{
    max-width: 1200px;
    height: 313px;
    /* border: 3px solid green; */
    margin: 0 auto;
    padding: 64px 48px;
    border-radius: 16px;
    background-image:linear-gradient(to bottom right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../assets/handshake.jpg');
    background-position: center;
    background-size: cover;
    margin-bottom: 80px;
}
.sup-content h4{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
.sup-content p{
    font-size: 14px !important;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 24px;
}
.sup-submit{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.sup-submit input:nth-child(1){
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;

}
.sup-submit input:nth-child(2){
    width: 120px;
    height: 57px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
}
/* end of support section */
.footer-container{
    max-width: 100wh;
    height: 100px;
    /* border: 3px solid orange; */
    padding: 32px 150px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    background: rgba(13, 19, 33, 0.09);
}

/* start footer section */
.footer-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.footer-container h5{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;

}
.footer-container .social-icons{
    display: flex;
    gap: 24px;
}